@import "./palette";

@mixin button {
  border: none;
  border-radius: 10px;
  background: $blue-main;
  cursor: pointer;
  outline: none;
  text-align: center;
  padding: 12px 0;
  color: $white;
  font-size: 1rem;
  font-weight: bold;
  line-height: 24px;
}

@mixin secondary-button {
  border: 2px solid $dark-blue;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px 0;
  color: $dark-blue;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 24px;
  background: none;
}

@mixin hero-header {
  font-style: normal;
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 74px;
  letter-spacing: 0.06em;
  color: $black;
}

@mixin hero-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.08em;
  color: $almost-black;
  margin: 35px 0 10px 0;
}

@mixin header2 {
  font-style: normal;
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 60px;
  letter-spacing: 0.01em;
  color: $black;
}
@mixin paragraph-text {
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 35px;
  align-items: center;
  color: $almost-black;
}
