$black: #1b1a1a;
$almost-black: #3d3d3d;
$blue-main: #1890ff;
$dark-blue: #097ce7;
$white: #ffffff;
$gray: #f7f8fc;
$green-blue-main: #1ea5c8;
$green-main: #36bdb2;

$min-screen-size: 500px;
$max-screen-size: 1500px;
