@import "./mixins";
@import "./palette";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  padding: 0.9rem 0;
  background: $gray;
  margin: 0;
  width: 100%;
  .nav-container {
    // width: 65%;
    @include interpolate(
      width,
      $min-screen-size,
      $max-screen-size,
      600px,
      1300px
    );
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    a {
      color: $black;
      text-decoration: none;
    }

    .nav-right-links {
      a {
        @include interpolate(
          margin-left,
          $min-screen-size,
          $max-screen-size,
          18px,
          50px
        );

        @include nav-links;
        @media screen and (max-width: 900px) {
          font-size: 0.9rem;
        }
      }

      @media screen and (max-width: 700px) {
        display: none;
      }
    }
    .mobile-nav-menu {
      display: none;
      @media screen and (max-width: 700px) {
        display: inline-block;
      }
    }
    .nav-button {
      @include button;
      // padding-right: 28px;
      // padding-left: 28px;
      // @include interpolate(
      //   (padding-left, padding-right),
      //   $min-screen-size,
      //   $max-screen-size,
      //   14px,
      //   28px
      // );
      width: 116px;
      height: 48px;
      font-size: 1rem;
      @media screen and (max-width: 900px) {
        width: 90px;
        height: 40px;
        font-size: 0.9rem;
      }
    }
    @media screen and (max-width: 700px) {
      width: 90%;
    }
  }
}

.logo-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  .logo {
    display: inline-block;
    height: fit-content;
    margin-right: 1rem;
    @media screen and (max-width: 900px) {
      margin-right: 0.6rem;
    }
    img {
      width: 48px;
      margin: 0;
      padding: 0;
      @media screen and (max-width: 900px) {
        width: 36px;
      }
    }
  }
  .logo-text {
    line-height: 50px;
    letter-spacing: 0.07em;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    margin: 0;
    padding: 0;
    @media screen and (max-width: 900px) {
      font-size: 1.3rem;
    }
  }
}

footer {
  width: 100%;
  border-top: 16px solid $green-main;
  padding: 50px 0;

  text-align: center;
  background: $gray;
  h3 {
    // font-size: 24px;
    @include interpolate(
      font-size,
      $min-screen-size,
      $max-screen-size,
      16px,
      24px
    );
    line-height: 24px;
    color: $black;
    margin-bottom: 22px;
  }
  a {
    color: $black;
    text-decoration: none;
  }
  .logo-container {
    align-items: flex-start;
  }
  .footer-links {
    margin-left: 80px;
    a {
      display: block;
      @include nav-links;
      // margin-bottom: 22px;
      @include interpolate(
        margin-bottom,
        $min-screen-size,
        $max-screen-size,
        12px,
        22px
      );
    }
  }
  .footer-container {
    // width: 65%;
    @include interpolate(
      width,
      $min-screen-size,
      $max-screen-size,
      400px,
      1300px
    );
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    img {
      width: 42px;
    }
    .footer-contact-info {
      justify-self: flex-end;
      p {
        // font-size: 21px;
        @include interpolate(
          font-size,
          $min-screen-size,
          $max-screen-size,
          14px,
          21px
        );
        display: inline-block;
        line-height: 24px;
        vertical-align: middle;
      }

      img {
        display: inline-block;
        // width: 24px;
        @include interpolate(
          width,
          $min-screen-size,
          $max-screen-size,
          14px,
          24px
        );
        margin-right: 16px;
        padding: 0;

        vertical-align: middle;
      }
    }
  }
}

.landing-container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  .hero {
    // width: 65vw;
    @include interpolate(
      width,
      $min-screen-size,
      $max-screen-size,
      600px,
      1300px
    );
    margin: 0 auto;
    // padding: 100px 0;
    @include interpolate(
      (padding-top, padding-bottom),
      $min-screen-size,
      $max-screen-size,
      40px,
      100px
    );
    img {
      @include interpolate(
        width,
        $min-screen-size,
        $max-screen-size,
        300px,
        700px
      );
    }
    h1 {
      @include hero-header;
    }
    p {
      @include hero-paragraph;
    }

    .right {
      text-align: right;
    }
    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }
  .split {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    @media screen and (max-width: 700px) {
      flex-flow: column-reverse nowrap;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  .left {
    width: 45%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    @media screen and (max-width: 700px) {
      width: 75%;
      h1 {
        font-size: 30px;
        line-height: 150%;
      }
      p {
        font-size: 16px;
        line-height: 150%;
      }
    }
  }
  .right {
    width: 52%;
    display: flex;
    text-align: right;
    justify-content: flex-end;
    @media screen and (max-width: 700px) {
      width: 75%;
      margin-bottom: 40px;
      img {
        width: 100%;
      }
    }
  }
}

.learn-more-container {
  background: $gray;
  padding: 64px 0;
  width: 100%;
  text-align: center;

  .learn-more {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    @include interpolate(
      width,
      $min-screen-size,
      $max-screen-size,
      500px,
      900px
    );
    @media screen and (max-width: 700px) {
      width: 95%;
    }
    .benefit-container {
      width: 33.3%;
      text-align: center;
      p {
        @include paragraph-text;
        margin-bottom: 20px;
        @include interpolate(
          font-size,
          $min-screen-size,
          $max-screen-size,
          16px,
          24px
        );

        @include interpolate(
          margin-bottom,
          $min-screen-size,
          $max-screen-size,
          12px,
          16px
        );
      }
    }
    .benefit {
      height: 82px;
      background: url("../images/affordable.svg") no-repeat center;
      img {
        position: relative;
        top: 50%;
        transform: translateY(-55%);
        width: 35px;
        @media screen and (max-width: 700px) {
          width: 16%;
        }
      }
      @media screen and (max-width: 700px) {
        background-size: 40%;
      }
    }
  }
}
.info-section {
  overflow: hidden;
  h2 {
    @include header2;
    width: 100%;
    // margin-bottom: 30px;
    @include interpolate(
      margin-bottom,
      $min-screen-size,
      $max-screen-size,
      16px,
      34px
    );
  }
  p {
    @include paragraph-text;
  }
  .info-section-container {
    // width: 60vw;
    @include interpolate(
      width,
      $min-screen-size,
      $max-screen-size,
      500px,
      1100px
    );
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    @media screen and (max-width: 700px) {
      flex-flow: column nowrap;
      align-items: center;
      margin-top: 60px;
    }
    @media screen and (max-width: 500px) {
      width: 75%;
    }

    .info-section-text {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      @media screen and (max-width: 700px) {
        width: 100%;
      }
      h2 {
        @include header2;
        width: 100%;
        // margin-bottom: 30px;
        @include interpolate(
          margin-bottom,
          $min-screen-size,
          $max-screen-size,
          16px,
          30px
        );
      }
      p {
        @include paragraph-text;
        width: 100%;
        @media screen and (max-width: 700px) {
          width: 100%;
        }
      }
    }
  }
}

.reverse {
  @media screen and (max-width: 700px) {
    flex-flow: column-reverse !important;
  }
}

.clock-in {
  background: url("../images/blob.svg") no-repeat right bottom -120px;
  background-size: 30%;
  @media screen and (max-width: 500px) {
    background: url("../images/blob.svg") no-repeat right bottom -100px;
    background-size: 60%;
  }
}

.battery-saver {
  background: url("../images/blob3.svg") no-repeat left bottom -200px;
  background-color: $gray;
  background-size: 30%;
}

.auto-gps {
  background: url("../images/blob4.svg") no-repeat right top -150px;
  background-size: 35%;
  @media screen and (max-width: 500px) {
    background: url("../images/blob4.svg") no-repeat right top -150px;
    background-size: 50%;
  }
}

.tracking {
  background: url("../images/blob2.svg") no-repeat left bottom -200px;
  background-color: $gray;
  background-size: 30%;
  @media screen and (max-width: 700px) {
    background: url("../images/blob2.svg") no-repeat left bottom -220px;
    background-size: 50%;
  }
  @media screen and (max-width: 500px) {
    background: url("../images/blob2.svg") no-repeat left bottom -100px;
    background-size: 50%;
  }
}

.phone-screen-right {
  text-align: right;
  margin: 40px 0 40px 0;
  @include interpolate(
    margin-right,
    $min-screen-size,
    $max-screen-size,
    20px,
    100px
  );
  @media screen and (max-width: 700px) {
    text-align: center;
    margin: 40px 0 40px 0;
  }
}
.phone-screen-left {
  text-align: left;
  margin: 40px 0 40px 100px;
  @include interpolate(
    margin-right,
    $min-screen-size,
    $max-screen-size,
    20px,
    100px
  );
  @media screen and (max-width: 700px) {
    text-align: center;
    margin: 40px 0 40px 0;
  }
}

.box {
  width: 50%;
  img {
    // width: 300px;
    @include interpolate(
      width,
      $min-screen-size,
      $max-screen-size,
      150px,
      300px
    );
  }
}

.cloud-section {
  text-align: center;
  // padding: 120px 0;
  @include interpolate(
    (padding-top, padding-bottom),
    $min-screen-size,
    $max-screen-size,
    40px,
    120px
  );
  h2 {
    text-align: center;
    margin-top: 30px;
    // font-size: 36px;
    @include interpolate(
      font-size,
      $min-screen-size,
      $max-screen-size,
      20px,
      36px
    );
  }
  p {
    text-align: center;
    width: 60%;
    margin: 40px auto 0;
  }
  @media screen and (max-width: 700px) {
    img {
      width: 90%;
    }
    p {
      width: 90%;
    }
  }
}

.ready-to-join {
  text-align: center;
  // padding: 120px 0;
  @include interpolate(
    (padding-top, padding-bottom),
    $min-screen-size,
    $max-screen-size,
    40px,
    120px
  );
  background: $gray;
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }
}
.rtj-white {
  background: $white;
}
.rtj-gray {
  background: $gray;
}
.signup-button {
  @include button;
  margin: 0 0 0 0;
  @include interpolate(
    margin-top,
    $min-screen-size,
    $max-screen-size,
    16px,
    30px
  );
  width: 229px;
  height: 48px;

  transition: transform 300ms ease-out, box-shadow 300ms;
  a {
    text-decoration: none;
    color: $white;
  }
  &:hover {
    transform: translate(0, -5px);
    box-shadow: 0 10px 18px rgba(24, 144, 255, 0.3);
  }
}

.learn-more-button {
  @include secondary-button;
  margin: 30px 0 0 0;
  width: 229px;
  height: 48px;
}

#signup-submit-button {
  width: 100%;
}

.more-features-container {
  text-align: center;
  // padding: 120px 0;
  @include interpolate(
    (padding-top, padding-bottom),
    $min-screen-size,
    $max-screen-size,
    40px,
    120px
  );
  h2 {
    // margin-bottom: 80px;
    @include interpolate(
      margin-bottom,
      $min-screen-size,
      $max-screen-size,
      40px,
      80px
    );
  }
  .features-icons-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    // width: 55%;
    @include interpolate(
      width,
      $min-screen-size,
      $max-screen-size,
      500px,
      1100px
    );
    margin: 0 auto;
    @media screen and (max-width: 700px) {
      width: 90%;
    }

    .feature {
      // margin-bottom: 67px;
      @include interpolate(
        margin-bottom,
        $min-screen-size,
        $max-screen-size,
        18px,
        67px
      );
      width: 33%;
      text-align: center;
      height: 6rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      svg {
        @include interpolate(
          width,
          $min-screen-size,
          $max-screen-size,
          20px,
          40px
        );
      }
      a {
        text-decoration: none;
        &:hover {
          p {
            color: $dark-blue;
          }
          svg {
            path {
              fill: $dark-blue;
            }
          }
        }
      }
      p {
        @include paragraph-text;
        vertical-align: bottom;
        // margin-top: 26px;
        @include interpolate(
          margin-top,
          $min-screen-size,
          $max-screen-size,
          8px,
          16px
        );
        @media screen and (max-width: 700px) {
          width: 75%;
          margin: 0 auto;
        }
      }
      @media screen and (max-width: 700px) {
        height: 100px;
        justify-content: center;
      }
    }
  }
}

.features-container {
  text-align: center;
  // padding: 120px 0;
  @include interpolate(
    (padding-top, padding-bottom),
    $min-screen-size,
    $max-screen-size,
    40px,
    120px
  );
  margin: 30px 0;
  background: $gray;
  .features-thirds-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    // width: 70%;
    @include interpolate(
      width,
      $min-screen-size,
      $max-screen-size,
      400px,
      1200px
    );
    margin: 0 auto;
    .features-third {
      width: 29%;
      h2 {
        // font-size: 36px;
        @include interpolate(
          font-size,
          $min-screen-size,
          $max-screen-size,
          20px,
          36px
        );
      }
      img {
        margin-bottom: 30px;
        @include interpolate(
          height,
          $min-screen-size,
          $max-screen-size,
          60px,
          195px
        );
      }
      p {
        margin: 0 auto;
        letter-spacing: 0.07em;
      }
    }
  }
}
.full-feature-list-container {
  background: url("../images/blob5.svg") no-repeat top 250px right,
    url("../images/blob6.svg") no-repeat top 900px left;
}
.full-feature-list {
  text-align: center;
  margin: 120px auto;
  width: 50%;
  h2 {
    margin: 0;
  }
  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.005em;
    color: $black;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 133%;
    letter-spacing: 0.005em;
    color: $black;
  }
  strong {
    font-weight: bold;
  }
  .features-list-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    h3 {
      align-self: center;
      margin: 80px 0 20px 0;
    }
    .feature-list-item {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      width: 100%;
      margin: 25px 0;
      .feature-list-icon {
        width: 8%;
        margin-top: 5px;
      }
      .feature-list-text {
        width: 92%;
        p {
          width: 100%;
        }
      }
    }
  }
}

.testimonial {
  width: 100%;
  padding: 0;
  @include interpolate(
    (padding-top, padding-bottom),
    $min-screen-size,
    $max-screen-size,
    50px,
    100px
  );
  background: $gray;
  .testimonial-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    // width: 60%;
    @include interpolate(
      width,
      $min-screen-size,
      $max-screen-size,
      400px,
      1100px
    );
    @media screen and (max-width: 700px) {
      flex-flow: column nowrap;
      align-items: center;
      text-align: center;
    }
  }
  .testimonial-image {
    // width: 40%;
    @include interpolate(
      width,
      $min-screen-size,
      $max-screen-size,
      200px,
      500px
    );
    img {
      width: 100%;
    }
    @media screen and (max-width: 700px) {
      width: 60%;
    }
  }
  .testimonial-text {
    padding: 0 0 0 100px;
    box-sizing: border-box;
    width: 60%;
    @include interpolate(
      width,
      $min-screen-size,
      $max-screen-size,
      300px,
      700px
    );
    h3 {
      font-style: normal;
      font-weight: bold;
      // font-size: 30px;
      @include interpolate(
        font-size,
        $min-screen-size,
        $max-screen-size,
        14px,
        30px
      );
      @include interpolate(
        line-height,
        $min-screen-size,
        $max-screen-size,
        25px,
        53px
      );
      // line-height: 53px;
      letter-spacing: 0.02em;
      color: $black;
    }

    p {
      font-style: normal;
      font-weight: normal;
      @include paragraph-text;
      letter-spacing: 0.02em;
      margin-top: 20px;
    }
    @media screen and (max-width: 700px) {
      padding: 50px 0;
    }
  }
}

.pricing-slider-container {
  text-align: center;
  height: fit-content;
  margin: 0 auto;
  background: $gray;
  width: 100%;
  h2 {
    margin-bottom: 5rem;
  }
  .pricing-inner-container {
    width: 70%;
    margin: 0 auto;
    background: $white;
    padding: 100px 80px;
    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 24px;
      /* or 80% */
      text-align: center;
      color: $black;
      margin-bottom: 4rem;
    }
    @media screen and (max-width: 700px) {
      padding: 0 0 70px 0;
      width: 80%;
    }
  }
}

.slider-container {
  width: 100%;
  margin: 0 auto;
}

.sign-up-container {
  text-align: center;
  // padding: 120px 0;
  @include interpolate(
    (padding-top, padding-bottom),
    $min-screen-size,
    $max-screen-size,
    40px,
    120px
  );
  background: url("../images/blob7.svg") top 200px left no-repeat,
    url("../images/blob8.svg") top 600px right no-repeat;
  @media screen and (max-width: 700px) {
    background: url("../images/blob7.svg") top 50px left -200px no-repeat,
      url("../images/blob8.svg") top 600px right -200px no-repeat;
    background-size: 60%;
  }
  h3 {
    font-style: normal;
    font-weight: normal;
    // font-size: 36px;
    @include interpolate(
      font-size,
      $min-screen-size,
      $max-screen-size,
      18px,
      36px
    );
    @include interpolate(
      line-height,
      $min-screen-size,
      $max-screen-size,
      20px,
      24px
    );
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: $black;
    margin: 3rem;
  }
  p {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    // font-size: 21px;
    // line-height: 38px;
    @include interpolate(
      font-size,
      $min-screen-size,
      $max-screen-size,
      16px,
      21px
    );
    @include interpolate(
      line-height,
      $min-screen-size,
      $max-screen-size,
      20px,
      38px
    );
    /* or 181% */
    align-items: center;
    text-align: center;
    strong {
      font-weight: bold;
    }
  }
  .ready-heading {
    margin: 6rem 0 4rem 0;
  }
}

.sign-up-form-container {
  // width: 40%;
  @include interpolate(width, $min-screen-size, $max-screen-size, 400px, 600px);
  margin: 0 auto;
  @media screen and (max-width: 700px) {
    width: 80%;
  }
  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    /* or 100% */
    display: flex;
    align-items: center;
    color: $black;
    margin-bottom: 3rem;
  }
  .sign-up-label {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.11em;
    color: $almost-black;
    display: block;
    text-align: left;
  }
  .firstLastName {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .name-input {
    width: calc(50% - 10px);
  }
  input,
  textarea,
  select {
    width: 100%;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 11px;
    margin: 5px 0 2rem 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 0.11em;
  }
  textarea {
    height: 6rem;
  }
}

.closed {
  @media screen and (min-width: 700px) {
    display: none !important;
  }
}

.mobile-nav-menu-links {
  a {
    color: $black;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    box-sizing: border-box;
    transition: text-shadow 0.2s;
    text-decoration: none;
    &:hover {
      text-shadow: 0 0 0 #333, 0 0 0.9px #333;
    }
  }
}

.active-link {
  font-weight: bold !important;
}

.price-per-month {
  font-size: 55px;
  margin-top: 6rem;
  color: #1b1a1a;
  font-weight: regular;
  .dollar-amount {
    font-weight: bold;
  }
  .dollar {
    font-size: 40px;
    margin-right: 3px;
  }
  .monthly {
    font-size: 18px;
    color: #4d4d4d;
    margin-left: 3px;
  }
}

.what-sets-us-apart {
  background: $white;
  padding: 100px 0 50px 0;

  .container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    @media screen and (max-width: 700px) {
      width: 80%;
      margin: 0 auto;
    }
    .point {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 40px 0;
      @media screen and (max-width: 700px) {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
      .number {
        font-size: 350px;
        letter-spacing: 0.02em;
        color: $gray;
        vertical-align: top;

        margin: -40px 0;
        padding: 0;
        @media screen and (max-width: 700px) {
          font-size: 250px;
          margin: -20px 0;
        }
      }
      .description-container {
        width: 50%;
        @media screen and (max-width: 700px) {
          width: 80%;
        }

        .title {
          font-weight: bold;
          font-size: 32px;
          letter-spacing: 0.01em;
          color: $black;
          line-height: 148%;
          @include interpolate(
            font-size,
            $min-screen-size,
            $max-screen-size,
            21px,
            30px
          );
          @media screen and (max-width: 700px) {
            font-size: 30px;
          }
        }
        .description {
          font-size: 21px;
          letter-spacing: 0.01em;
          color: $black;
          font-weight: normal;
          @include hero-paragraph;
          @media screen and (max-width: 700px) {
            font-size: 18px;
            line-height: 187%;
          }
        }
      }
    }
    .spaced {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      @media screen and (max-width: 700px) {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
    }
  }
  h2 {
    @include header2;
    text-align: center;
    margin-bottom: 30px;
  }
}
